RewriteEngine On
RewriteBase /

RewriteRule ^data/ - [F,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^stats/?$ stats.php [L,QSA]
RewriteRule ^site/(.+)/?$ site.php?host=$1 [L,QSA]
RewriteRule ^api(/.*)?$ api.php [L,QSA]
RewriteRule ^cron/?$ cron.php [L,QSA]
RewriteRule ^$ index.php [L]
